.card-container {
  height: 190px;
  width: 110px;
  background-color: white;
  background-size: cover;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: -75px;
  font-size: 20px;
  text-align: center;
}